//Importing bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import "./colours.scss";
@import "./components/index.scss";

$font-stack: Helvetica, sans-serif;
//$primary-color: #333;

body {
  font: 100% $font-stack;
  overflow-wrap: normal;
  background-image: url(https://www.netpremacy.com/wp-content/uploads/2018/09/Background-website-01.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  text-align: center;
}

.paddedDiv {
  margin-bottom: 20px;
}